<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<appSettings>
		<add key="Url" value="https://demowebshop.tricentis.com" />
		<add key="Email" value="aswin2000@gmail.com" />
		<add key="Password" value="testing" />
		<add key="DataDrivenFile" value="\DataDriven\DataDriven.xml" />
	</appSettings>
  
</configuration>

